<!doctype html>
<html lang="en">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Title</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
          <div class="mdl-tabs__tab-bar">
              <a href="#one-panel" class="mdl-tabs__tab is-active">One</a>
              <a href="#two-panel" class="mdl-tabs__tab">Two</a>
              <a href="#three-panel" class="mdl-tabs__tab">Three</a>
          </div>

          <div class="mdl-tabs__panel is-active" id="one-panel">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--2-col">1</div>
              <div class="mdl-cell mdl-cell--2-col">2</div>
            </div>
          </div>
          <div class="mdl-tabs__panel" id="two-panel">
          </div>
          <div class="mdl-tabs__panel" id="three-panel">
          </div>
        </div>
      </main>
    </div>
</body>
</html>